.heading{
    height: 10vh;
    font-family: 'poppins',sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background: transparent;
    transition: all .50s ease;
    align-items: center;
    justify-content: end;
    height: 10vh;
}
.logo{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
}
.navbar li a{
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar li a:hover{
    color: #E94B3cff;
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: #00203fff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.main a:hover{
    color: #E94B3cff;
}
.user{
    display: flex;
    align-items: center;

}
.user span{
    color: #E94B3cff;
    font-size: 28px;
    margin-right: 7px;
}
.sub_head1{
    height: 50%;
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 2%;
}
.sub_head3{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}