<section class="heading">
    <div class="head">
    <!--<div class="sub_head1">
        <img src="assets\logo2.png" alt="logo" height="90%" width="90%">
    </div>
-->
    <!---
    <div class="sub_head2">
        <ul class="navbar">
            <li class="home"><a href="#">Home</a></li>
            <li class="search"><a href="#">Search</a></li>
            <li class="contact"><a href="#">Contact</a></li>

        </ul>
    </div>
    -->
    <div class="sub_head3">
        <div class="main">
            <a href="#" class="user">
                <span class="material-symbols-outlined">person</span>
                Sign-In
            </a>
            <a href="#" class="register">Register</a>
        </div>
    </div>
    </div>
</section>