
<div class="container">
    <div class="box1">
      <img
        src="assets/logo.png"
        alt="Logo"
        height="100%"
        width="40%"
        class="logo"
      />
    </div>
    <div class="box2">
      <div class="box2_col1">
      </div>
      <div class="box2_col2">
      </div>
      <div class="box2_col3">
      </div>
      <div class="box2_col4">
      </div>
    </div>
    <div class="box3">
      <div class="box3_col1">
        <button  class="user" (click)="gotToLogin()">
            <span class="material-symbols-outlined">person</span>
            <span>Sign-In</span>
        </button>
      </div>
    </div>
  </div>
  