<app-merchant-header></app-merchant-header>
<div class="container">
    <!--<div class="heading">
        <h1>Store Details</h1>
    </div>-->
    <div class="display_box">
        <div class="box1">
            <div class="box1_col1">
                <span><h1>{{merchantModel.m_name}}</h1></span>
            </div>
        </div>
        <div class="box3">
            <div class="box3_col1">
                <div class="box">Rating:{{merchantModel.m_rating}}</div>
            </div>
            <div class="box3_col2">
                <div class="box">Status:{{merchantModel.m_status}}</div>
            </div>
            <div class="box3_col3">
                <div class="box">No. Of Reviews:{{merchantModel.m_rating_count}}</div>
            </div>
        </div>

        <div class="box2">
            <div class="sub1_box2">
                <form action="">
                <div class="sub1_box2_row1">
                    <div class="col">
                        <label for=""><span>Open Time:</span>
                            <br>
                            <input type="text"  id="m_open_time" [ngModelOptions]="{standalone: true}"  [(ngModel)] = "merchantModel.m_open_time" >
                        </label>
                    </div>
                    <div class="col"> 
                        <label for=""><span>Specials:</span>
                            <br>
                            <input type="text"  id="m_specials" [ngModelOptions]="{standalone: true}"  [(ngModel)] = "merchantModel.m_specials">
                        </label>
                    </div>
                </div>
               <div class="sub1_box2_row2">
                    <div class="col">
                        <label for=""><span>Close Time:</span>
                            <br>
                            <input type="text"  id="m_close_time" [ngModelOptions]="{standalone: true}"  [(ngModel)] = "merchantModel.m_close_time">
                        </label>
                    </div>
                    <div class="col">
                        <label for=""><span>Services:</span>
                            <br>
                            <input type="text"  id="m_services" [ngModelOptions]="{standalone: true}"  [(ngModel)] = "merchantModel.m_services">
                        </label>
                    </div>
                </div>

                <div class="sub1_box2_row3">
                    <div class="col">
                        <label for=""><span>Min Price:</span>
                            <br>
                            <input type="text"  id="m_min_price" [ngModelOptions]="{standalone: true}"   [(ngModel)] = "merchantModel.m_min_price">
                        </label>
                    </div>
                    <div class="col">
                        <label for=""><span>Cusines:</span>
                            <br>
                            <input type="text"  id="m_cusines" [ngModelOptions]="{standalone: true}"  [(ngModel)] = "merchantModel.m_cusines">
                        </label>
                    </div>
                </div>
              
                <div class="sub1_box2_row4">
                    <div class="col">
                        <label for=""><span>Max Price:</span>
                            <br>
                            <input type="text"  id="m_max_price" [ngModelOptions]="{standalone: true}"  [(ngModel)] = "merchantModel.m_max_price">
                        </label>
                    </div>
                    <div class="col">
                        <label for=""><span>Categories</span>
                            <br>
                            <input type="text"  id="m_categories" [ngModelOptions]="{standalone: true}"  [(ngModel)] = "merchantModel.m_categories">
                        </label>
                    </div>
                </div>
                   
                <div class="sub1_box2_row5">
                    <input type="submit" name="" id="" value="Apply" class="sbt_btn" (click)="editMerchant1()">
                </div>
                </form>
            </div>
           
           
             <div class="sub2_box2">
                <form action="">
                <div class="sub2_box2_row1">
                    <div class="col">
                        <label for=""><span>Street:</span>
                            <br>
                            <input type="text" name="" id="m_street" [ngModelOptions]="{standalone: true}" [(ngModel)] = "merchantModel2.m_street">
                        </label>
                    </div>
                    <div class="col">
                        <label for=""><span>Area:</span>
                            <br>
                            <input type="text" name="" id="m_area" [ngModelOptions]="{standalone: true}" [(ngModel)] = "merchantModel2.m_area">
                        </label>
                    </div>
                </div>
                <div class="sub2_box2_row2">
                    <div class="col">
                        <label for=""><span>
                            City:
                        </span>
                            <br>
                            <input type="text" name="" id="m_city" [ngModelOptions]="{standalone: true}" [(ngModel)] = "merchantModel2.m_city">
                        </label>
                    </div>
                    <div class="col">
                        <label for=""><span>
                            Pincode:
                        </span>
                        <br>
                            <input type="text" name="" id="m_pincode" [ngModelOptions]="{standalone: true}" [(ngModel)] = "merchantModel2.m_pincode">
                        </label>
                    </div>
                </div>
                <div class="sub2_box2_row3">
                    <div class="col">
                        <label for=""><span>
                            Latitude:
                        </span>
                        <br>
                            <input type="text" name="" id="" [ngModelOptions]="{standalone: true}" [(ngModel)] = "merchantModel2.m_latitude">
                        </label>
                    </div>
                    <div class="col">
                        <label for=""><span>
                            Longitude:
                        </span>
                        <br>
                            <input type="text" name="" id=" m_longitude"[ngModelOptions]="{standalone: true}" [(ngModel)] = "merchantModel2.m_longitude">
                        </label>
                    </div>
                </div>
                <div class="sub2_box2_row4">
                    <div class="col1">
                        <label for=""><span>Address:</span>
                            <br>
                            <input type="text" name="" id="m_address" [ngModelOptions]="{standalone: true}" [(ngModel)] = "merchantModel2.m_address">
                        </label>
                    </div>
                </div>
                <div class="sub2_box2_row5">
                    <input type="submit" name="" id="" value="Apply" class="sbt_btn" (click)="editMerchant2()">
                </div>
                </form>
            </div> 
        </div>

    </div>
</div>
<app-store-reviews></app-store-reviews>