.container{
    width: 100vw;
    height: 90vh;
}
.head{
    height: 15vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    font-size: 1.5vw;
    color: #00203fff;
}
.merchant_form{
    margin-left: 10vw;
    width: 80vw;
    border: 3px solid rgb(207, 207, 207);
    border-radius: 0.5vw;
    padding-top: 7vh;
    padding-bottom: 4vh;

}
.row1,.row2,.row3,.row4{
    height: 10vh;
    width: 70vw;
    display: flex;
    margin-left: 5vw;
    position: relative;
}
.row5{
    height: 10vh;
    width: 70vw;
    display: flex;
    align-items: center;
    margin-left: 5vw;
    position: relative;
    
}
.col{
    height: 10vh;
    width: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col input{
    height: 7vh;
    width: 15vw;
    border-radius: 0.5vw;
    outline: none;
    border: 2px solid rgb(207, 207, 207);
    padding-left: 1vw;
    transition: all .3s;
    font-size: 1.2vw;
}
.row5_col1{
    height: 10vh;
    width: 33vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row5_col1 input{
    height: 7vh;
    width: 40vw;
    border-radius: 0.5vw;
    border: 2px solid rgb(207, 207, 207);
    padding-left: 1vw;
    outline: none;
    margin-left: 0.75vw;
}




/*css for buttons*/
.row5_col2{
    height: 10vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6.75vw;
}
.row5_col3{
    height: 10vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row5_col2 input{
    height: 7vh;
    width: 8vw;
    font-size: 1.2vw;
    font-weight: bolder;
    border-radius: 1vw;
    outline: none;
    background-color: #e94b3cff;
    color: #00203fff;
    border: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);

}
.row5_col3 input{
    height: 7vh;
    width: 8vw;
    font-size: 1.2vw;
    font-weight: bolder;
    border-radius: 1vw;
    outline: none;
    background-color: #e94b3cff;
    color: #00203fff;
    border: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    /*border: 3px solid rgb(207, 207, 207);*/
}

/*css for labels start here*/
.col1_lb{
    position: absolute;
    left: 2vw;
    top: 3vh;
    transition: all 0.4s;
    padding: 0 2px;
    font-size: 1.5vw;
    color: gray;
}
.col1_lb::before{
    content: "";
    height: 5px;
    position: absolute;
    left: 100px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.col input:focus{
    border: 2px solid #e94b3cff;
}
.col input:focus+.col1_lb,.filled{
    top: 0.2vh;
    left: 1.5vw;
    color: #e94b3cff;
    font-size: 1.1vw;
    background-color: white;
}
.col input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all .3s;
}
.col input:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}


.col2_lb{
    position: absolute;
    left: 19vw;
    top: 3vh;
    transition: all 0.4s;
    padding: 0 2px;
    font-size: 1.5vw;
    color: gray;
}
.col2_lb::before{
    content: "";
    height: 5px;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}
.col input:focus+.col2_lb,.filled{
    top: 0.2vh;
    left: 18.5vw;
    color: #e94b3cff;
    font-size: 1.1vw;
    background-color: white;
}

.col3_lb{
    position: absolute;
    left: 36vw;
    top: 3vh;
    transition: all 0.4s;
    padding: 0 2px;
    font-size: 1.5vw;
    color: gray;
}
.col3_lb::before{
    content: "";
    height: 5px;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}
.col input:focus+.col3_lb,.filled{
    top: 0.2vh;
    left: 35.5vw;
    color: #e94b3cff;
    font-size: 1.1vw;
    background-color: white;
}


.col4_lb{
    position: absolute;
    left: 53vw;
    top: 3vh;
    transition: all 0.4s;
    padding: 0 2px;
    font-size: 1.5vw;
    color: gray;
}
.col4_lb::before{
    content: "";
    height: 5px;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}
.col input:focus+.col4_lb,.filled{
    top: 0.2vh;
    left: 52.5vw;
    color: #e94b3cff;
    font-size: 1.1vw;
    background-color: white;
}

/*css for address label*/
.col5_lb{
    position: absolute;
    left: 2vw;
    top: 3vh;
    transition: all 0.4s;
    padding: 0 2px;
    font-size: 1.5vw;
    color: gray;
}
.col5_lb::before{
    content: "";
    height: 5px;
    position: absolute;
    left: 100px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.row5_col1 input:focus{
    border: 2px solid #e94b3cff;
}
.row5_col1 input:focus+.col5_lb,.filled{
    top: 0.2vh;
    left: 1.3vw;
    color: #e94b3cff;
    font-size: 1.1vw;
    background-color: white;
}
.row5_col1 input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all .3s ;
}
.row5_col1 input:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}

/*css for labels end here*/