/*Table css stats here*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
}
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 1.5vw;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 10px;
  font-size: 1.25vw;
  background-color: #e94b3cff;
  color: white;
}

.review {
  width: 50vw;
}
.date {
  width: 10vw;
}
.status {
  width: 5vw;
}
.user {
  width: 15vw;
}
.rating {
  width: 5vw;
}
.action {
  width: 10vw;
  height: 100%;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
.act{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accept-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    color: #32751d;
    cursor: pointer;
    
}
.reject-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    color: #e94b3cff;
    cursor: pointer;
    
    
}

/*Table css ends here*/

/*Headding css*/
.head {
  display: flex;
  height: 10vh;
  width: 90vw;
  display: flex;
  margin-left: 5vw;
  align-items: center;
  justify-content: center;
}
.heading {
  height: 10vh;
  width: 80vw;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #00203fff;
  font-size: 1.3vw;
}
.review_table {
  width: 96vw;
  margin-left: 2vw;
  height: 60vh;
  overflow: scroll;
}
