/*Table css stats here*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
}
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 1.5vw;
}
thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: 1.25vw;
    padding: 1.5vw;
    background-color: #e94b3cff;
    color: white;
  }
  .review_table {
    height: 60vh;
    overflow: scroll;
    width: 80vw;
    margin-left: 10vw;
    
  }

  .review {
    width: 50vw;
  }
  .date {
    width: 15vw;
  }
  .status {
    width: 5vw;
  }
  .user {
    width: 15vw;
  }
  .rating {
    width: 5vw;
  }

.container{
    width: 100vw;
    padding-bottom: 20px;
}
.head{
    height: 10vh;
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading{
    height: 10vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15vw;
    color: #00203fff;
}
