<app-merchant-header></app-merchant-header>
<div class="container">
  <div class="head">
    <div class="box1">
      <form action="">
        <div class="search_box">
        <input type="search" name="" id="search_inp" class="search_box1" placeholder="Search" [(ngModel)] = "userInp.search_inp" [ngModelOptions]="{standalone: true}">
        <button (click)="loadMerchatList1()" class="search-btn"><span class="material-symbols-outlined">search</span></button>
        </div>
      </form>
    </div>
    <div class="box2"><h1>Restaurants</h1></div>
    <div class="box3"></div>
    
  </div>
  
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="heading1">#</th>
          <th class="heading1">Name</th>
          <th class="heading1">Area</th>
          <th class="heading1">City</th>
          <th class="heading1">Category</th>
          <th class="heading1">Cusine</th>
          <th class="heading1">Service</th>
          <th class="heading1">Status</th>
          <th class="heading1">Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let merchantO of merchantList; let i = index" >
          <td>{{i+1}}</td>
          <td>
            <button (click)="goToAdminMerchantDetails(merchantO)" class="store-btn">
              {{ merchantO.m_name }}
            </button>
          </td>
          <td>{{ merchantO.m_area }}</td>
          <td>{{ merchantO.m_city }}</td>
          <td>{{ merchantO.m_categories }}</td>
          <td>{{ merchantO.m_cusines }}</td>
          <td>{{ merchantO.m_services }}</td>
          <td>{{ merchantO.m_status }}</td>
          <td>
            <button (click)="goToAdminMerchantDeactive(merchantO)" class="action-btn" >
              <label class="switch">
                <input type="checkbox" checked >
                <span class="slider round"></span>
              </label>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
