/*Css for table starts here*/
.container {
  height: 90vh;
  width: 90vw;
  margin-left: 5vw;
}
table {
  font-family: Helvetica;
  border-collapse: collapse;
}
.table-container {
  overflow: scroll;
  width: 70vw;
  height: 80vh;
  margin-left: 10vw;
}

td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 1vw;
}
th {
  border: 2px solid #dddddd;
  text-align: center;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.25vw;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.store-btn{
  outline: none;
  border: none;
  background-color: white;
  font-size: 1.25vw;
  cursor: pointer;
  font-weight: 500;
}
.action-btn{
  margin-left: 1vw;
  outline: none;
  border: none;
  background-color: white;

}

/*Css for table ends here*/

/*Table heading css starts here*/
.head {
  height: 10vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1vw;
  color: #00203fff;
}
.heading1 {
  background-color: #e94b3cff;
}
.box1{
  height: 10vh;
  width: 30vw;
  display: flex;
  align-items: center;
  padding-left: 5.15vw;
}
.box2{
  height: 10vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box3{
  height: 10vh;
  width: 30vw;
  
}

/*Table heading css ends here*/

/*Search box css starts here*/
.search_box{
  height: 5vh;
  width: 15vw;
  margin-left: 5vw;
  border-radius: 0.5vw;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  border: 1px solid rgb(207, 207, 207);
  background-color: white;
  display: flex;
  align-items: center;
}
.search_box1{
  height: 4vh;
  width: 12.5vw;
  border: none;
  outline: none;
  margin-left: 0.5vw;
}

.search-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: transparent;
  color: #333;
}
/*Search box css ends here*/

/*Css for slider starts here*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e94b3cff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #32751d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*Css for slider ends here*/

#id0{
  color: red;

}
