table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.head{
  width: 100vw;
  height: 15vh;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}