.homie{
    background-color: white;
    min-height: 100vh;
}

.mainbox{
    position: relative;
    display: flex;
   
}
.left{
    
    width: 70vw;
    min-height: 100vh;
    
}
.right{
    
    width: 20vw;
    height: 20vh;    
}
.search{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}
.web_logo{
    width: 10vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
/* filters component css*/
.filters{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items:flex-start;
    justify-content:center;
    background-color: transparent;
    position: relative;
    top: -2vh;
}
.filters .col1{
    height: 80%;
    width: 10%;
    margin-right:1% ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    
}
.filters .col2{
    
    height: 80%;
    width: 10%;
    margin-right:1% ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

}
.filters .col3{
    
    height: 80%;
    width: 10%;
    margin-right:1% ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
.filters .col4{
    
    height: 80%;
    width: 10%;
    margin-right:1% ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

}
.filters .col5{
    
    height: 80%;
    width: 10%;
    margin-right:1% ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
.filters .col6{
    
    height: 80%;
    width: 12%;
    margin-right:1% ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.select-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F0F0F0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    border: 1px solid rgb(207, 207, 207);
    height: 100%;
    width: 100%;
    border-radius: 0.4rem;
    
}

.btn-text{
    display: flex;
    color: #333;
    font-size: 1.2vw;
    text-align: center;
}
#arrow-dwn{
    display: flex;
    font-size: 1vw;
    align-items: center;
    justify-self: center;
}

/* Filters drop down menu css start here*/


.menu_box4{
    height: 10%;
    z-index: 1000;
    width: 7%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: red;
    left: 34.25vw;
    
}
.menu_box5{
    height: 10%;
    width: 7%;    
    z-index: 1000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: red;
    left: 42vw;
    
}
/* Filters drop down menu css end here*/

/*select drop down css starts here*/
a,
button {
  font-family: "Poppins", sans-serif;
}

.drop_menu
{
  position: relative;
}

.drop_menu ul
{
  margin-top: 20px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 8vw;
  height: 20vh;
  background-color: #F0F0F0;
  left: 0px;
  list-style: none;
  border-radius: 5%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  transition: all 0.4s ease;
  z-index: 1000;
  box-shadow: 2px 2px 10px #E94b3cff;
  border: 1px solid rgb(207, 207, 207);
}
.drop_menu li
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.drop_menu li:hover
{
  background-color:#e94b3cff;
  border-radius: 5%;
  
}

.drop_menu a{
  color: black;
  text-decoration: none;
}

.drop_menu button{
  
  font-size: 1.2vw;
  font-weight: lighter;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  color: #333;
  text-align: center;
  background-color: #F0F0F0;


}

.drop_menu button:focus + ul{
  opacity: 1;
  pointer-events:fill;
  transform: translateY(0px);
}
.drop_menu button:hover{
    color: #e94b3cff;
    transition: all 0.50s ease;
}
button{
    border: none;
    outline: none;
}

/*select drop down css ends here*/

/*Filters css ends here*/

/*Result box css starts here*/

.display{

    height: 58vh;
    width: 85vw;
    position: relative;
    top: -4vh; 
    padding-left: 1.5vw;
    overflow: scroll;
    z-index: 200;
    margin-left: 5vw;
    
}


.result_box1 {
    height: 50vh;
    width: 20vw;
    border-radius: 1vw;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    margin: 1.2vw;
    margin-left: 4vw;

}


.r1{
    width: 20vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
}
.r1_pic{
    width: 19vw;
    height: 27vh;
    border-radius: 2vw;
}
.r1_img{
    border-radius: 1vw;
}
.r2{
    width: 20vw;
    height: 15vh;
}
.r3{
    height: 5vh;
    width: 20vw;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.2vw;
}

.r2_box1{
    width: 20vw;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.r2_box1 .r2_c1{
    height: 95%;
    width: 70%;
    margin-left: 2%;
    display: flex;
    align-items:center;
}
.r2_box1 .r2_c2{
    height: 95%;
    width: 20%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_rating{
    width: 60%;
    height: 70%;
    border-radius: 20%;
    color: white;
    font-size: 1.2vw;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #32751d;
    
}
#star_icon{
    font-size: 1.2vw;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40

}

#dist_icon{
    font-size: 1vw;
}
.r2_box2{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.r2_box2 .r2_c1{
    height: 95%;
    width: 70%;
    margin-left: 2%;
    display: flex;
    align-items:center;
}
.r2_box2 .r2_c2{
    height: 95%;
    width: 20%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_distance{
    width: 60%;
    height: 70%;
    background-color: grey;
    border-radius: 10%;
    color: white;
    font-size: 1vw;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.info_box {
    margin-left: 2%;
    color: #333;
    font-size: 1.2vw;
    
}

.result_button{
    border-radius: 2vw;
    background-color: transparent;
}
/*results box css ends here*/

/*Search bar css starts here*/
.search_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:left;


}
.search_box{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.search_bar{
    width: 52vw;
    height: 8vh;
    background-color: #F0F0F0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    display: flex;
    border-radius: 60px;
    padding: 10px 20px;
    align-items: center;
    
}
.search_bar input{
    width: 30vw;
    height: 2vh;
    background: transparent;
    border: none;
    flex: 1;
    font-size: 1.5vw;
    padding: 10% 5%;
    outline: none;
}
.search_bar button{
    border-radius: 50%;
    border: 0;
    width: 5vw;
    height: 5vh;
    background: transparent;
    cursor: pointer;

}
::placeholder{
    color: black;
}


#opt{
    width: 8vw;
    height: 5vh;
    cursor: pointer;
    border: 0;
    border-radius: 3%;
    outline: none;
    font-size: 15px;
    background:transparent;
    color: black;

}
/* search bar css ends here*/





/*side details card popup container starts here*/
/*.details_box_component{
    width: 28vw;
    border-radius: 2vw;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    border: 1px solid rgb(207, 207, 207);
    
}
.result_button{
    background-color: transparent;
    border-radius: 1vw;
    border: none;
    outline: none;
}
.details_row1{
    height: 10vh;
    width: 28vw;
    border-radius: 1vw;
    display: flex;
}
.details_row1_col1
{
    height: 10vh;
    width: 25vw;
    display: block;
    border-radius: 1vw;


}
.details_row_col1_sub1
{
    height: 6vh;
    width: 25vw;
    border-radius: 1vw;
    padding-left: 1.5vw;
    padding-top: 2vh;
    font-size: 1.4vw;

}
.details_row_col1_sub2
{
    height: 4vh;
    width: 25vw;
    border-radius: 1vw;
    padding-left: 1.5vw;
    color: #333;

}
.details_row1_col2{
    height: 10vh;
    width: 3vw;
    border-radius: 1vw;
    padding-left: 0.8vw;
    padding-top: 0.6vh;
    color: #333;
    font-size: 2vw;

}
.details_row2{
    height: 45vh;
    width: 27.5vw;
    margin-left: 0.2vw;
    display: flex;
}
.details_row2_col1{
    height: 45vh;
    width: 13vw;
    margin-left: 0.5vw;
}
.details_row2_col2{
    height: 45vh;
    width: 13vw;
    margin-left: 0.6vw;

}
.details_row2_col2_sub1
{
    height: 21vh;
    width: 12vw;
    margin-left: 0.5vw;
    margin-top: 0.6vh;
}
.details_row2_col2_sub2{
    margin-left: 0.5vw;
    height: 21vh;
    width: 12vw;
    margin-top: 1vh;
}
.details_box_pic1,.details_box_pic3,.details_box_pic2{
    border-radius: 1.5vw;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);

}
.details_row3{
    height: 10vh;
    width: 26vw;
    display: flex;
    margin: 0.4vw;
    border-radius: 1.5vw;

}
.details_row4{
    height: 10vh;
    width: 26vw;
    display: flex;
    margin: 0.4vw;
    margin-bottom:2vh ;
    border-radius: 1.5vw;

}
.details_row3_col1,.details_row4_col1{
    width: 25vw;
    height: 10vh;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 3vh;
}
.details_row3_col2,.details_row4_col2{
    height: 10vh;
    width: 3vw;
    border-radius: 1vw;
    padding-left: 0.8vw;
    padding-top: 3vh;
}
.overview_button{
    background-color: transparent;
    border-radius: 1vw;
    border: none;
    outline: none;
    margin-left: 0.4vw;
}
.review_button{
    background-color: transparent;
    border-radius: 1vw;
    border: none;
    outline: none;
    margin-left: 0.4vw;
}*/

/*side details card popup container starts here*/
