
<!--<app-header></app-header>-->
    <div class="display_box">
        <div class="display_box1">
            <div class="display_box1_col1">
                <img src="assets/pic4.jpg" alt="">
            </div>
            <div class="display_box1_col2">
                <div class="display_box1_col2_row1">
                    <img src="assets/pic2.jpg" alt="">
                </div>
                <div class="display_box1_col2_row2">
                    <img src="assets/pic3.jpg" alt="">
                </div>
            </div>
            <div class="display_box1_col3">
                <img src="assets/pic1.jpg" alt="">
            </div>
        </div>
        <div class="display_box2" *ngFor="let menuItem of userMerchantList; let i=index" >
            <div class="display_box2_row1">
                <div class="display_box2_row1_col1">
                    <span>
                        <h2>{{menuItem.m_name}}</h2>
                    </span>
                </div>
                <div class="display_box2_row1_col2">
                    <div class="box_rating">
                    <span>{{menuItem.m_rating}}</span>
                    <span class="material-symbols-outlined" id="star_icon">star</span>
                    </div>
            </div>
            </div>
            <div class="display_box2_row5">
                <span>Open-Now- </span>
                <span>{{menuItem.m_open_time}}-{{menuItem.m_close_time}}</span>
            </div>
            <div class="display_box2_row2">
                <h4>Cusines:</h4>
                <span>  {{menuItem.m_cusines}}</span>
            </div>
            <div class="display_box2_row3">
                <h4>Area:</h4>
                <span>{{menuItem.m_street}},{{menuItem.m_city}}</span>
            </div>
            <div class="display_box2_row4">
                <h4>Services:</h4>
                <span class="s1">{{menuItem.m_services}}</span>
            </div>
            <div class="display_box2_row6">
                <h4>Special:</h4>
                <span>{{menuItem.m_specials}}</span>
            </div>
            <div class="display_box2_row7">
                <h4>Address:</h4>
                {{menuItem.m_address}}
            
            </div>
        </div>
        <div class="display_box3">
            <div class="display_box3_row3">
                <button (click)="review_click()">Add Review</button>
            </div>
            <ng-container *ngIf="visible1">
                <div class="review_form">
                    <div class="review_form_box1">
                        <div class="star_rating">
                            <div class="rating">
                                <input value=5 name="star-radio" id="star-1" type="radio" [(ngModel)] = "reviewModel.user_rating">
                                <label for="star-1">
                                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path></svg>
                                </label>
                                <input value=4  name="star-radio" id="star-2" type="radio" [(ngModel)] = "reviewModel.user_rating">
                                <label for="star-2">
                                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path></svg>
                                </label>
                                <input value=3 name="star-radio" id="star-3" type="radio" [(ngModel)] = "reviewModel.user_rating">
                                <label for="star-3">
                                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path></svg>
                                </label>
                                <input value=2 name="star-radio" id="star-4" type="radio" [(ngModel)] = "reviewModel.user_rating">
                                <label for="star-4">
                                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path></svg>
                                </label>
                                <input value=1 name="star-radio" id="star-5" type="radio" [(ngModel)] = "reviewModel.user_rating">
                                <label for="star-5">
                                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path></svg>
                                </label>
                              </div>
                        </div>
                    </div>
                    <div class="review_form_box2">
                        <form action="" class="user_review_form">
                            <input type="text" name="" id="user_id" placeholder="User Id" [(ngModel)] = "reviewModel.user_id" [ngModelOptions]="{standalone: true}">
                            <input type="text" name="" id="user_name" placeholder="User Name" [(ngModel)] = "reviewModel.user_name" [ngModelOptions]="{standalone: true}">
                            <br><br>
                            <textarea name="" id="user_review" cols="30" rows="10" placeholder="Add your review here" [(ngModel)] = "reviewModel.user_review" [ngModelOptions]="{standalone: true}"></textarea>
                            <br><br>
                            <input type="submit" name="" id="form_submit" value="submit" (click)="addUserReview()" (click)="review_click()">
                            <input type="reset" name="" id="form_reset" value="cancel" (click)="review_click()">
                        </form>
                        
                    </div>
                    
                </div>
                <br>
            </ng-container>
            <div class="display_box3_row1">
                <h2>Reviews</h2>
                <hr class="review_underline">
            </div>
            
            <div class="display_box3_row2">
                <div class="review_box" *ngFor="let menuItem of userReviewList; let i=index" >
                    <div class="review_box1">{{menuItem.user_name}}</div>
                    <div class="review_box2">
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                        
                    </div>
                    <div class="review_box3">
                        <div class="review_box3_info">
                            {{menuItem.user_review}}
                        </div>
                        <div class="review_box3_pic"></div>
                    </div>
                </div>
                 
                
                
            </div>

        </div>
        
    </div>
    

